form {
    display: flex;
    flex-direction: column;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form input,
form select,
form textarea {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.btn {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background: #2563eb;
    /* nice blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    background: #1e4fdc;
}