{% load static %}
<link rel="stylesheet" href="{% static 'book/base.css' %}">

<div class="auth-container">
    <h2>Create Account</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}

        {{ form.password1.label }}
        {{ form.password1 }}

        {{ form.password2.label }}
        {{ form.password2 }}

        <button type="submit">Register</button>
    </form>

    <p style="text-align:center; margin-top: 10px;">
        Already registered? <a href="/accounts/login">Login</a>
    </p>
</div>
